XML/01_Intro/01_Friends.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="friendsList">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="friend">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" maxOccurs="unbounded" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="bestFriend" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>